*.env
*node_modules/*
node_modules/@types/node/globals.d.ts
node_modules/@types/node/http.d.ts
src/models/pythonModel/DenseNet169_model
src/models/pythonModel/ResNet101_model
src/models/pythonModel/ResNet50_model
*.tif
