<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title> Settings</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <link rel="icon" type="image/png" sizes="20x20" href="plugins/images/favi.png">
    <link href="css/style.min.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="/css/styleReg.css"> --}}



</head>
<script>
    window.onload = function () {
        document.getElementById('changePass').style.display = 'none';
        document.getElementById('cancelBtn').style.display = 'none';
        document.getElementById('changeBtn').style.display = 'block';
    };
    function hide() {
        document.getElementById('changePass').style.display = 'block';
        document.getElementById('cancelBtn').style.display = 'block';
        document.getElementById('changeBtn').style.display = 'none';
    };
    function cancel() {
        document.getElementById('changePass').style.display = 'none';
        document.getElementById('cancelBtn').style.display = 'none';
        document.getElementById('changeBtn').style.display = 'block';
    }
</script>

<body>
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">

        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">

        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14"> {{user.firstName}} {{user.lastName}}
                        </h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Settings</h3>

                            <div class="col-sm-12" id="changeBtn">
                                <button class="btn btn-success" style="color: aliceblue;" onclick="hide()">Change
                                    password
                                </button>
                            </div>

                            <div class="col-sm-12" id="cancelBtn">
                                <button class="btn btn-danger" style="color: aliceblue;" onclick="cancel()">cancel
                                </button>
                            </div>
                            <div class="col-lg-8 col-xlg-9 col-md-12">
                                <div class="card" id="changePass">
                                    <div class="col-lg-8 col-xlg-9 col-md-12">
                                        <div class="card-body">
                                            <form class="form-horizontal form-material" action="/user/update-password">
                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Your current password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <input type="text" class="form-control p-0 border-0"
                                                            placeholder="Enter old password">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Your new password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <input type="text" class="form-control p-0 border-0"
                                                            placeholder="Enter old password">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Confirm password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <input type="text" class="form-control p-0 border-0"
                                                            placeholder="Enter old password">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer text-center"> 2021 © BCBD Using Deep Learning
                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
        </div>
        <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/app-style-switcher.js"></script>
        <!--Wave Effects -->
        <script src="js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="js/sidebarmenuPath.js"></script>
        <!--Custom JavaScript -->
        <script src="js/custom.js"></script>
        <!--Header -->
        <script src="js/top-bar.js"></script>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/js/main.js"></script>

</body>

</html>