
* {
  box-sizing: border-box;
}

.editPopup {
  position: relative;
  text-align: left;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  margin: 50px;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
  overflow-y:auto;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.9;
 
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
} 
